# General configuration for MariaDB

# Client and server shared settings (if applicable)
# 3306: Default MariaDB server
[clinet-server]
port=3306

# Server-specified settings
# Run the server as the MySQL user
# Directory where MariaDB data is stored
[mysqld]
user=mysql
datadir=/var/lib/mysql

# Optimize performance and ensure proper security
skip-host-cache 
bind-address=0.0.0.0

# Disabling symbolic-links to prevent potentioal security risks
symbolic-links=0
