# General configuration for MariaDB

# Client and server shared settings (if applicable)
[clinet-server]
port=3306 # Default MariaDB server

# Server-specified settings
[mysqld]
user=mysql # Run the server as the MySQL user
datadir=/var/lib/mysql # Directory where MariaDB data is stored

# Optimize performance and ensure proper security
skip-host-cache 
bind-address=0.0.0.0

# Disabling symbolic-links to prevent potentioal security risks
symbolic-links=0
